/*-------- VARIABLES --------*/
:root {
    /* COLORS */
    --galactic-blue: hsla(252, 66%, 62%, 1);
    --summer-yellow: hsla(28, 89%, 67%, 1);
    --light-red: hsla(7, 77%, 66%, 1);
    --cyan: hsla(172, 46%, 57%, 1);
    --light-cream: hsla(28, 100%, 97%, 1);
    --medium-brown: hsla(30, 5%, 45%, 1);
    --medium-pink: hsla(0, 79%, 79%, 1);
    --medium-purple: hsla(314, 46%, 23%, 1);
    --black: hsla(0, 0%, 1%, 1);
}

/*-------- FONTS --------*/
@font-face {
    font-family: 'plus jakarta sans';
    src: url(../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

/*-------- RESET --------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--off-white);
    font-family: 'plus jakarta sans', sans-serif;
}
img,
picture {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: var(--light-cream);
}
button {
    font: inherit;
    cursor: pointer;
}

/*--------  --------*/
body {
    background: var(--light-cream);
    padding: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.just-between {
    justify-content: space-between;
}


.header__img {
    width: 3rem;
    height: 3rem;
}
.header__link {
    color: var(--light-cream);
    background: var(--black);
    width: 11rem;
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.75rem;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 200% */
}


.main__header {
    max-width: 47rem;
    margin-top: 1.5rem;
    margin: 1.5rem auto 0;
    text-align: center;
}
.main__heading {
    font-size: 2.25rem;
    font-weight: 700;
}
.main__intro-text {
    max-width: 80%;
    margin-top: 1rem;
    margin: 1rem auto 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem; /* 162.5% */
}


/*------- media queries -------*/

/* 768px = 48rem */

@media (width >= 48rem) {
    body {
        padding: 1.5rem;
    }

    .main__heading {
        font-size: 2.75rem;
    }
    .main__intro-text {
        max-width: 75%;
        font-size: 1.125rem;
        line-height: 1.75rem; /* 155.556% */
    }
}

 /* 1280px = 80rem */
@media (width >= 80rem) {
    body {
        padding: 1.5rem 9rem;
    }

    .main__heading {
        font-size: 3.5rem;
    }
    .main__intro-text {
        max-width: 80%;
    }

}